POSTGRES_USER=taskqueue
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=taskqueue
REDIS_PASSWORD=change_me_redis_password
SECRET_KEY=change_me_flask_secret_key_at_least_32_chars
FLASK_ENV=development
